/*colors*/
$color-wrapper-background: #669ba2;
$color-wrapper-control: #005964;
$color-item: #337A83;
$color-white: #e4efef;
$color-dark: #102e30;
$color-highlight: #63003b;

/*geometrics*/
$width-form: 240px;
$border-radius: 5px;

$bottom-bar-height: 56px;